doctype html
html
	head
		meta(charset="utf-8")
		meta(http-equiv="x-ua-compatible", content="ie=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		meta(name="apple-mobile-web-app-title", content="Portfolio")
		meta(name="application-name", content="Portfolio")
		meta(name="theme-color", content="#ffffff")
		title= title
		base(href="/")
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700&amp;subset=cyrillic")
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Montserrat&display=swap")
		link(rel="apple-touch-icon", sizes="180x180", href=staticUrl + "/apple-touch-icon.png")
		link(rel="icon", type="image/png", sizes="32x32", href=staticUrl + "/favicon-32x32.png")
		link(rel="icon", type="image/png", sizes="16x16", href=staticUrl + "/favicon-16x16.png")
		link(rel="manifest", href=staticUrl + "/site.webmanifest")
		link(rel="mask-icon", href=staticUrl + "/safari-pinned-tab.svg", color="#5bbad5")
		meta(name="msapplication-TileColor", content="#da532c")
		meta(name="theme-color", content="#ffffff")
		block styles
		block headScripts
	body
		block content
		if (typeof serve === 'undefined' || !serve)
			script(type='text/javascript', src=staticUrl + '/js/vendor.bundle.js')
			script(type='text/javascript', src=staticUrl + '/js/app.bundle.js')
